<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoCurrencyTracking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C11E3E82D1C7CB300191D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C11E3F82D1C7CB600191D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C11E4022D1C7CB600191D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
